<p id="notice"><%= notice %></p>

<h1>Books</h1>

<% if @books.size == 0 %>
    <p>Sorry , No books were available for the search description</p>
    <% else %>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Author</th>
    <th>Isbn</th>
    <th>Description</th>
    <th>Status</th>
    <th colspan="5"></th>
  </tr>
  </thead>

  <tbody>

  <%  @books.each do |book| %>
      <tr>
        <td><%= book.name %></td>
        <td><%= book.author %></td>
        <td><%= book.ISBN %></td>
        <td><%= book.Description %></td>
        <%if book.status == 'Available' %>
            <td> <p style="color:green">Available</p></td>
            <td>
              <%= form_tag book_issue_path(book), :method=>'post' do %>
                  <%= submit_tag "Check Out" %>
              <% end %>
            </td>
        <%else%> <td> <p style="color:red">Not Available</p></td>
            <td>
            <%= form_tag  availability_notifications_path, :method=>'post' do %>
                <%= hidden_field_tag :book_id, book.id %>
                <%= submit_tag "Get Notified" %>
            <% end %>
            </td>
        <%end%>
      </tr>
  <% end %>
  <% end %>
  </tbody>
</table>