<p id="notice"><%= notice %></p>

<h3>
  <%= @book.name%> , <%= @book.author%>, Current Status : <%= @book.status %>
</h3>
<div class="container">
  <table>
    <thead>
    <th> User </th>
    <th> Checkout Time</th>
    </thead>
    <% @book.checkouts.order(start_time: :desc).each do |checkout| %>
        <tr>
          <td> <%= checkout.user.name %></td>
          <td> <%=l checkout.start_time %></td>
        </tr>
    <% end %>
  </table>
</div>
<br>
